.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cube-tinder {
  background-color: #1a1b2d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  width: 410px;
  height: 900px;
  text-align: center;
  z-index: 2;
}



.back-tinder {
  width: 400px;
  height: auto;
  position: absolute;
  z-index: 0;
  top: 55px;
}

input[name="input"]::placeholder {
  color: #ffffff;
}

button {
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  background-color: #9c69fc93;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.6s ease;
  z-index: 2;
}

button:hover {
  background-color: #a277ca;
}

p {
  color: #595263;
  margin: 10px 0;
}

.logo-tinder {
  width: 90px;
  height: auto;
  position: absolute;
  top: 60px;
  right: 280px;
}

.profil-tinder {
  width: 35px;
  height: auto;
  position: absolute;
  top: 55px;
  left: 280px;
  border: 2px solid #31324a;
  border-radius: 5px;
  z-index: 3;
}

.line {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100px;
  background: linear-gradient(
      to right,
      transparent 20%,
      #bdbcbc 50%,
      #bdbcbc 50%,
      transparent 90%
    ),
    linear-gradient(
      to left,
      transparent 20%,
      #bdbcbc 50%,
      #bdbcbc 50%,
      transparent 90%
    );
}

.response {
  display: flex;
  align-items: center;
  height: 100px;
  z-index: 2;
  bottom: 130px;
}

.response img {
  margin: 0px 21px;
}

.text-dislike {
  color: #e6e6e6;
  position: absolute;
  bottom: 50px;
  right: 105px;
}

.text-like {
  color: #ffffff;
  position: absolute;
  bottom: 50px;
  left: 105px;
  
}

.image1 {
  background-size: cover;
  background-position: center;
  margin-top: 80px;
  margin-bottom: 10px;
  width: 300px;
  height: 550px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(139, 226, 245, 70%);
  z-index: 3;
}

.swipe-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  width: 250px;
  height: 600px;
  text-align: center;
  z-index: 1;
  margin-right: 305px;
}

.swipe-left {
  position: absolute;
  width: 250px;
  height: 600px;
  z-index: 1;
  margin-right: 305px;
}

  .swipe-right {
    position: absolute;
    width: 250px; 
    height: 600px;
    z-index: 1;
    margin-left: 305px;
  }
  
  .popup-background {
    position: fixed;
    width: 410px; 
    height: 900px;
    background-color: rgba(0, 1, 19, 0.678); 
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    margin-right: 120px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    width: 200px;
    z-index: 2001;
  }
  
  .popup::before {
    content: "";
    position: absolute;
    top: 50px;
    left: -29px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent #ffffff transparent transparent;
  }
  
  .popup p {
    font-size: 18px; 
    font-weight: bold;
    color: black;
  }

  .popup2 {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    margin-left: 120px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    z-index: 2001;
    width: 200px;
  }
  
  .popup2::before {
    content: "";
  position: absolute;
  top: 50px;
  right: -29px; 
  border-width: 15px;
  border-style: solid;
  border-color: transparent #ffffff transparent transparent;
  transform: rotateY(180deg); 
  }

  .popup2 p {
    font-size: 18px; 
    font-weight: bold;
    color: black;
  }
  
  .skip {
    color: #0085FF !important; 
    cursor: pointer;
  }